<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h2>Reset Your Password</h2>

  <form action="" method="POST">
    <input type="hidden" name="email" value="res@gmail.com">

    <input type="password" name="password" placeholder="New Password" required>
    <button type="submit">Update Password</button>
  </form>
jkmgr 


</body>
</html>
